body {
  font-family: fantasy;
  background-color: #333;
  color: #fff;
}

body .sweet-alert {
  color: #333;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/* classes */

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.btn {
  border: none;
  padding: 20px;
  font-weight: bold;
  font-size: 18pt;
  cursor: pointer;
}

.btn:hover {
  -webkit-box-shadow: inset 0px 0px 24px 14px rgba(231,76,60,1);
  -moz-box-shadow: inset 0px 0px 24px 14px rgba(231,76,60,1);
  box-shadow: inset 0px 0px 24px 14px rgba(231,76,60,1);
}

.bg-emerald {
  background-color: #2ecc71;
}

.c-emerald {
  color: #2ecc71;
}

.bg-clouds {
  background-color: #ecf0f1;
}

.bg-concrete {
  background-color: #95a5a6;
}

.bg-silver {
  background-color: #bdc3c7;
}

.bg-midnight-blue {
  background-color: #2c3e50;
}

.bg-alizarin {
  background-color: #e74c3c;
}

.bottom-actions {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom-actions .left,
.bottom-actions .right {
  width: 45%;
  padding: 20px;
}

.bottom-actions .left {
  float: left;
}

.bottom-actions .right {
  float: right;
}

.box {
  float: left;
  height: 400px;
  border: 1px solid #fff;
  margin-top: 20px;
  position: relative;
}

.hide {
  display: none;
}

.text-larger {
  font-size: larger;
}

div.input-group {
  padding: 10px 15px;
}

div.input-group input[type="text"] {
  font-size: 15pt;
}

.sweet-alert.showSweetAlert h2 {
  padding-top: 15px;
}

.popup {
  width: 800px;
  height: 500px;
  position: absolute;
  margin: 80px 112px;
  border: 1px solid;
  background-color: rgba(51, 51, 51, 0.95);
}

div.callout {
  /*height: 60px;*/
  width: 300px;
  float: left;
  font-size: 12pt;
  line-height: 25px;
}

div.callout {
  background-color: #444;
  background-image: -moz-linear-gradient(top, #444, #444);
  position: relative;
  color: #ccc;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 20px #999;
  margin: 25px;
  min-height: 50px;
  border: 1px solid #333;
  text-shadow: 0 0 1px #000;
  
  /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
}

.callout::before {
  content: "";
  width: 0px;
  height: 0px;
  border: 0.8em solid transparent;
  position: absolute;
}

.callout.top::before {
  left: 45%;
  bottom: -20px;
  border-top: 10px solid #444;
}

.callout.bottom::before {
  left: 45%;
  top: -20px;
  border-bottom: 10px solid #444;
}

.callout.left::before {
  right: -20px;
  top: 40%;
  border-left: 10px solid #444;
}

.callout.right::before {
  left: -20px;
  top: 40%;
  border-right: 10px solid #444;
}

.callout.top-left::before {
  left: 7px;
  bottom: -20px;
  border-top: 10px solid #444;
}

.callout.top-right::before {
  right: 7px;
  bottom: -20px;
  border-top: 10px solid #444;
}

/* end classes */


/* specific */

#main-panel {
  width: 100%;
  height: 100%;
}

/* splash-screen */

#splash-screen {
  width: 100%;
  height: 100%;
  background-image: url("../img/splash-screen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -20px;
}

#splash-screen #action-panel {
  float: right;
  width: 25%;
  padding: 30px 0;
}

#splash-screen #action-panel div .btn {
  margin: 10px;
  width: 200px;
}

/* end splash-screen */

/* intro */

#intro .bottom-actions button {
  width: 100px;
}

#intro #mr-ciga img {
  width: 100%;
}

#intro #mr-ciga {
  float: left;
  width: 40%;
  margin-left: 100px;
  margin-top: 50px;
}

#intro .callout.right {
  float: left;
  margin-top: 80px;
}

/* end intro */

/* instructions */

#instructions .box img {
  width: 100%;
  margin: 10px;
}

#instructions img.hover-zoom:hover {
  width: 120%;
  margin-left: -50px;
}

#instructions .box {
  width: 40%;
  margin-left: 60px;
}

#instructions .box-note {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  color: #fff;
  width: 90%;
}

/* end instructions */

/* profile */

#profile .box {
  width: 25%;
  margin-top: 50px;
  margin-left: 25px;
}

#profile .box.question {
  width: 40% !important;
}

#profile .box-note {
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  color: #fff;
}

#profile .input-group img {
  width: 185px;
}

#profile .input-group input[type="text"] {
  font-size: 19px;
  width: 220px;
}

#profile .avatar-controls {
  position: absolute;
  bottom: 0;
  width: 90%;
}

/* end profile */

/* door */

#door img {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: -1
}

#door .countdown {
  width: 1024px;
  text-align: center;
  z-index: 999;
  font-size: 500px;
  height: 725px;
  line-height: 725px;
  display: none;
}

/* end door */

/* room */

#room[data-number="1"] {
  background: url('../img/room-1.jpg') 0px 0px/1024px 725px;
  height: 100%;
}

#room[data-number="2"] {
  background: url('../img/room-2.jpg') 0px 0px/1024px 725px;
  height: 100%;
}

#room[data-number="3"] {
  background: url('../img/room-3.jpg') 0px 0px/1024px 725px;
  height: 100%;
}

#room[data-number="4"] {
  background: url('../img/room-4.jpg') 0px 0px/1024px 725px;
  height: 100%;
}

#room .popup h2 {
  padding: 15px;
  margin: 0;
}

#room .popup .text-content {
  padding: 20px 15px;
  font-size: 15pt;
  position: relative;
  height: 200px;
  overflow: auto;
}

#room .popup .yes-no {
  padding: 30pt;
  font-size: 25pt;
}

#room .popup .actions {
  text-align: right;
}

#room .popup .actions button {
  padding: 10px 20px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #27ae60;
  margin-top: 10px;
}

#room .popup .actions.multiple button {
  margin-top: 90px !important;
}

#room .popup button#done-arrange {
  margin-top: 205px !important;
}

#room .popup .text-content.multiple {
  height: 50px !important;
}

#room .popup ul.answer-images,
#room .popup ul.choices {
  list-style-type: none;
}

#room .popup ul.answer-images li,
#room .popup ul.choices li {
  display: inline-block;
}

#room .popup img {
  width: 150px;
  height: 150px;
  margin: 0px 15px;
}

#room .popup .complete-words input[type="text"] {
  font-size: 20pt;
  width: 25px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  font-family: fantasy;
  text-align: center;
}

#room .popup .arrange-words input[type="text"] {
  font-size: 20pt;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: none;
  border-bottom: 2px solid #fff;
  font-family: fantasy;
  text-align: center;
}

#room .popup .complete-words span {
  font-size: 20pt !important;
}

#room .choices .choice {
  position: relative;
}

#room .choices .choice .text {
  position: absolute;
  bottom: 0;
  background-color: #2ecc71;
  margin: 5px 15px;
  width: 150px;
}

#room .choices li[data-checked="y"] .choice .check {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: url(../img/check-icon.png) 0px 0px/50px;
}

#room .choices li[data-checked="n"] .choice .check {
  display: none;
}

/* end room */

/* result */

#result .msg {
  width: 500px;
  margin: 100px auto;
  border: 1px solid #fff;
  background-color: #e74c3c;
}

/* end result */

/* green-field */

#green-field {
  background: url('../img/greenfield.jpg') 0px 0px/1024px 725px;
  height: 100%;
}

/* end green-field */

/* end specific */
