<div id="instructions">
  <h1 class="text-center">INSTRUCTIONS</h1>
  <div class="box peace-keepers bg-concrete">
    <img src="assets/img/peace-keepers.png" class="hover-zoom">
    <div class="box-note bg-alizarin">
      Oxygen Keepers
    </div>
  </div>
  <div class="box the-factory bg-concrete">
    <img src="assets/img/factory.png" class="hover-zoom">
    <div class="box-note bg-alizarin">
      Inside the factory
    </div>
  </div>
  <div class="bottom-actions bg-midnight-blue">
    <div class="left">
      <button class="quit btn bg-clouds">QUIT</button>
    </div>
    <div class="right text-right">
      <button class="next btn bg-emerald">NEXT</button>
    </div>
  </div>
</div>