<div id="splash-screen">
  <div id="action-panel">
    <div class="text-center">
      <button class="play btn bg-emerald">PLAY</button>
    </div>
    <div class="text-center">
      <button class="exit btn bg-clouds">NO, THANKS</button>
    </div>
  </div>
</div>